ansible==1.8.4
awscli==1.7.13
bcdoc==0.13.0
beautifulsoup4==4.6.0
boto==2.36.0
botocore==0.94.0
colorama==0.3.3
docutils==0.12
ecdsa==0.13
Jinja2==2.7.3
jmespath==0.6.1
MarkupSafe==0.23
meld==3.14.1
paramiko==1.15.2
pyasn1==0.1.7
pycrypto==2.6.1
pygobject==3.20.1
python-dateutil==2.4.1
PyYAML==3.11
rsa==3.1.4
six==1.9.0
vboxapi==1.0
wheel==0.26.0
